{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/home.css' %}" />
<link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static '/css/owl.theme.default.css' %}" />
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock css %}

{% block title %}
Ayzill
{% endblock title %}

{% block body %}
<div class="main pt-5">
  <div class="heroSlider pt-5">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img src="{% static '/images/slide.webp' %}" alt="slider image with ayzill"
          class="sliderImg lazyOwl bigSlide" />
        <img src="{% static '/images/smallSlider.png' %}" alt="slider image with ayzill"
          class="sliderImg lazyOwl smallSlide" />
      </div>
      <div class="item">
        <img src="{% static '/images/slide1.webp' %}" alt="slider image with nature's gift"
          class="sliderImg lazyOwl bigSlide" />
        <img src="{% static '/images/smallSlider.png' %}" alt="slider image with ayzill"
          class="sliderImg lazyOwl smallSlide" />

      </div>
      <div class="item">
        <img src="{% static '/images/slide2.webp' %}" alt="slider with pure hydration straight from nature"
          class="sliderImg lazyOwl bigSlide" />
        <img src="{% static '/images/smallSlider.png' %}" alt="slider image with ayzill"
          class="sliderImg lazyOwl smallSlide" />

      </div>
      <div class="item">
        <img src="{% static '/images/slide3.webp' %}" alt="slider image" class="sliderImg lazyOwl bigSlide" />
        <img src="{% static '/images/smallSlider.png' %}" alt="slider image with ayzill"
          class="sliderImg lazyOwl smallSlide" />

      </div>
    </div>
  </div>
</div>

<div class="secondSection">
  <div class="textSection pt-2 mt-5">
    <p class="pureText mt-3">PURE HYDRATION</p>
    <p class="supportText" data-aos="fade-down">Straight From Nature!</p>
  </div>
</div>

<div class="thirdSection" data-aos="fade-down">
  <div class="textSection pt-2 mt-5">
    <div class="row">
      <div class="col-12">
        <p class="tsPureText">READ ABOUT</p>
        <p class="tsSupportText" data-aos="fade-down">Ayzill</p>
      </div>
      <div class="row flex-sm-row-reverse flex-md-row-reverse flex-lg-row p-0">
        <div class="col-12 col-lg-6 col-md-12 col-sm-12  d-flex flex-column">
          <h4 class="whyChooseUsText mt-5 pt-3 mx-3" data-aos="fade-right">WHY CHOOSE AYZILL?</h2>

            <p class="helpTextThirdSection mt-3 mx-3" data-aos="fade-right">
              Ayzill offers pure, packaged mineral water through a rigorous purification process including reverse
              osmosis. Our goal is to provide a refreshing and healthy hydration experience while also being mindful of
              the environment.
            </p>

            <p class="helpTextThirdSection blueText mt-3 mx-3" data-aos="fade-right">
              We believe in the power of nature and strive to bring it to you in every sip.
            </p>

            <p class="helpTextThirdSection mt-3 mx-3" data-aos="fade-right">
              With Ayzill, you can enjoy the purity of nature in every sip. Ayzill’s commitment is to deliver pure,
              packaged mineral water.
            </p>

        </div>
        <div class="col-12 col-lg-6 col-md-12 col-sm-12 p-0" data-aos="fade-left">
          <img src="{% static '/images/third.png' %}" loading="lazy" alt="" class="img-fluid w-100">
        </div>
      </div>
    </div>
  </div>
</div>


<section class="productSection">
  <div class="productHeadSection">
    <div class="textSection pt-2 mt-5">
      <p class="pureText mt-3">TAKE A LOOK AT</p>
      <p class="supportText" data-aos="fade-down">Our Products</p>
      <br>
      <div class="container">

        {% for prod in prods %}
        <div class="row actProds">
          <div class="col-12 my-2">
            <div class="row px-5">
              <div class="col-12 col-lg-4 col-md-4 col-sm-12 ">
                <img src="/media/{{prod.productImage}}" alt="" data-aos="fade-right" class="prodImage">
              </div>
              <div class="col-12 col-lg-8 col-md-8 col-sm-12 px-3 justify-content-center d-flex flex-column" data-aos="fade-left">
                <p class="bottleSize px-1">{{prod.bottleVolume}}</p>
                <p class="bottleDescription my-3">{{prod.productDescription}}</p>
                <a href="/" class="navLinks btn-signup  px-3 py-2 viewProd">View Product</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

</section>
{% endblock body %}

{% block js %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{% static '/js/owl.carousel.min.js' %}"></script>
<script>
  AOS.init();
  $(".owl-carousel").owlCarousel({
    loop: true,
    margin: 5,
    lazyLoad: true,
    nav: false,
    center: true,
    autoplay: true,
    autoplayTimeout: 2000,
    autoplayHoverPause: true,
    responsive: {
      0: {
        items: 1.2,
      },
    },
  });
</script>
{% endblock js %}